/************************************
**************************************
********* for mobile *****************
*************************************
************************************/
* {

  font-family: 'Liberation Sans', sans-serif;
}

/* the header */

header {
  display: flex;
  justify-content: flex-end;
}

nav {
  font-size: 13px;
  display:flex;
  align-items: center;
}

a {
  margin-right: 10px;
}

.notification_picture {
  border-radius: 100% ;
  width: 20px;
}

.compte_picture {
  border-radius: 100%;
}


a:link , a:visited {
  color: #4c4c4c;
  text-decoration: none;
}

a:hover, a:visited:hover {
  text-decoration: underline;
  color: #000;
}

/* the header */



/* the section */
section {

}

.google_picture img{
  width: 100%;

}

.search_bar {
  width:100%;

}

.button {
  display:flex;
  justify-content: center;
}

.search_luck, .search_button {
  margin: 5px;
  padding: 5px;
}


/* the section */



/*the footer */
footer {
    border: 1px solid black;
}
/* the footer */





/***************************************
*************** for tab *****************
****************************************
***************************************/
